# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local Stack & Docker
localstack_data/

# Environment Variables
.env
.env.*
.env.local
.envrc

# OS / Editor
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.swp
*.swo
